.activity__container {
  margin: 2rem auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  align-self: center !important;
  align-content: center !important;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  color: #444;
  padding: 2em;
  border-radius: 12px;
  background-color: #fff;
  width: 300px; /* Adjust based on your layout needs */
  height: 300px; /* Adjust based on your layout needs */
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}


.activity__container:hover {
  transform: translateY(-3px);
}


.col_1,
.col_2,
.col_3,
.col_4,
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center !important;
  justify-content: center;
}

.col_1_img {
 
  max-width: 65%; /* Adjust size to your preference */
  max-height: 65%;
  border-radius: 12px;
  margin-top: 15px;
  margin-bottom: 10px; /* Space between image and text */
  margin-right: 30px;
}

.info {
  text-align: center !important;
}

.main__info, .sub__info {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  display: block; /* Ensure these are treated as block-level for proper spacing */
}

.main__info {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 0.5rem; /* Space between title and description */
}

.sub__info {
  font-size: 14px; /* Adjust based on your preference */
}

.col_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.col_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.col_2_1 {
  height: auto;
  width: 100%;
}

.col_3{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.col_3_1, .col_3_2 {
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .activity__container {
    width: 90%;
    height: auto;
    padding: 1em;
  }

  /* Adjust the sizes or layout for mobile responsiveness if necessary */
}
