.word-search-grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr); /* Adjust the number of columns as needed */
  grid-gap: 2px;
  margin-bottom: 20px;
}

.letter {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.letter.selected {
  background-color: #a0c8f0;
}

.word-list {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

li.found {
  text-decoration: line-through;
}

.gameContainer {
  background-color: #ffffff;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px; /* Fixed width */
  height: 600px; /* Fixed height */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Soft shadow */
  box-sizing: border-box; /* Include padding and border in the container's dimensions */
  padding: 40px; /* Added padding */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #ffffff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  
}