.main__container {
  max-width: 170rem;
  height: 100vh;
  padding: 10rem 20rem;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.header__title {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 42px;
  max-width: 80rem;
  margin-top: 2rem;
  padding-bottom: 20px;
  margin-left: 600px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

}
