.activity__container {
  margin: 50px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  border-radius: 12px;
  width: 330px; 
  height: 330px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 
              0 6px 10px 0 rgba(0, 0, 0, 0.14), 
              0 1px 18px 0 rgba(0, 0, 0, 0.12);
  color: #444;
  background-color: #fff;
}

.activity__container:hover {
  transform: translateY(-3px);
}

.col_1, .col_2, .col_3, .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col_1_img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 12px;
  margin: 20px 0px 10px 0;
}

.info {
  text-align: center;
}

.main__info {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin: 20px 0px 0.5rem 0;
}

.sub__info {
  font-size: 18px;
  padding: 10px;
  margin: 0px 0px 0.5rem 0;

}

.col_3_1, .col_3_2, .col_3_3 {
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0px 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .activity__container {
    width: 90%;
    height: auto;
    padding: 1em;
  }

  .col_1_img, .main__info {
    margin-right: 0; /* Align center in mobile view */
  }
}
