
.feature__cards {
  display: flex;
  margin: 0 auto;
  justify-content: center;  
  max-width: 1500px;


}

.feature__card {
  margin-top: 50px !important;
  margin: 10px; 
  width: 345px;
  max-width: 100%;
  min-height: 500px;
  overflow: hidden;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.info {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #ffffffb6;
  backdrop-filter: blur(20px)!important;
  transform: translateY(100%)
    translateY(-88px)
    translateZ(0);
  transition: transform 0.5s ease-out;
  transition: transform 0.5 ease-in;
}


.feature__card:hover .info,
.feature__card:hover .info:before {
  transform: translateY(0) translateZ(0); 
  transition: transform 0.5s ease-out;

}
.feature__card:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-20px);
  transition: transform 0.2s ease-in-out;
}


.card__img {
  width: 80%;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 20px;
}

.card__header {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  margin: 0;
  padding: 24px;
  font-size: 40px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.87) !important;
}

.card__text {
  font-family: "Google Sans",Roboto,Arial,sans-serif;  
  margin: 0;
  padding: 0 24px 24px;
  font-size: 18px;
  line-height: 1.5;
}
