/* General styles to normalize appearances */
* {
  margin: 0;
  padding: 0px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  height: auto !important;
}


/* Main container for user data */
.main_container {
  margin-top: 30px !important;
  background-color: #ffffff;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px; /* Fixed width */
  height: 690px; /* Fixed height */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Soft shadow */
  padding: 40px; /* Added padding */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.profile_container {
  text-align: center;
  margin-bottom: 20px;
}

.img_container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #007bff;
  margin-bottom: 20px;
  justify-content: center;
  margin-right: 20px;

}

.user_name {
  margin-bottom: -5px;
}

.user_subinfo {
  color: #666;
  margin-bottom: 10px;
}

.aboutMe_container {
  margin-top: 0px;
}

/* Textareas and inputs for editing */
.text_box, .date_select, .drop_down, .choose_file {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.drop_down{
  height: 30px;
}
/* Buttons styling */
.save_button, .cancel_button, .upload_button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0px;
}

.upload_button {
  background-color: #ffffff;
  color: #ffffff ;
  justify-content: center !important;
  margin-right: 100px !important;
  margin-bottom: 10px;
}
.profile_buttons{
  justify-content:center !important;
  margin-bottom: 20px;
}
.save_button {
  justify-content:center !important;
  margin-top: 20px;
  color: #ffffff;
}

.cancel_button {
  justify-content:center !important;
  margin-right: 110px;
  color: #ffffff;
}

/* Checkbox labels */
.checkbox_label {
  flex-direction: column;
  margin: 15px;
  font-size: 14px;
  
}
.check_box_container{
  display: inline-flex !important;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .main_container {
    margin: 10px;
    padding: 10px;
  }

  .profile_buttons, .save_button, .cancel_button, .upload_button {
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
    justify-content: center;
  }
}
