* {
  margin: 0;
  padding: 50;
  box-sizing: border-box;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 62.5%;
}
/*rgba(var(--main-blue))*/
:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --light-grey: 211, 211, 211;
  --dark-grey: 51, 51, 51;
  --main-yellow: 244, 208, 63;
  --light-yellow: 218, 247, 166;
  --dark-yellow: 255, 195, 0;
  --main-blue: 93, 173, 226;
  --light-blue: 133, 193, 233;
  --dark-blue: 63, 137, 187;
  --light-purple: 192, 165, 255;
}

body {
  background: #ffffff;
  overflow-x: hidden !important;
}

h1 {
text-align: center;
font: 5.5rem "Google Sans",Roboto,Arial,sans-serif;
margin-bottom: 20px;
color: #2c2c2c ;
}

h2 {
  text-align: center;
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  text-align: center;
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

p,
span {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font: 1.5rem 'Roboto', sans-serif;;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  
}
hr {
  display: flex;
  align-items: center;
  --text-divider-gap: 1rem;

  
  &:before {
    margin-right: var(--text-divider-gap);

  }
  
  &:after {
    margin-right: var(--text-divider-gap);

  }
}
.hr::before,
.hr::after {
  content: '';
  height: 1px;
  background-color: silver;
  flex-grow: 1;
  width: auto;
}
input:valid {
  border-bottom: 1px rgba(var(--main-blue)) solid;
}
input:focus:invalid {
  border-bottom: 1px rgba(var(--main-yellow)) solid;
}

.btn,
.btn-yellow{
  text-transform: capitalize;
  border: none;
  border-radius: 0.6rem;
  display: inline-block;
  cursor: pointer;
  color: #ffffff !important;
  font-family: Arial;
  padding: 0.7rem 5rem;
  margin: 1rem;
  text-decoration: none;
  color: rgba(var(--white));
  font-size: 1.7rem;
  font-weight: 400;
}

.btn__yellow {
  background-color: rgba(var(--main-yellow));
}
.btn__yellow:hover {
  background-color: rgba(var(--dark-yellow));
}

.btn__blue {
  background-color: rgba(var(--main-blue));
}

.btn__blue:hover {
  background-color: rgba(var(--dark-blue));
}

.btn:active {
  position: relative;
  top: 1px;
}

.loading__img {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}


.loading__img__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.card:first-child {
  background-color: aqua;
}

.btn_game {
  background-color: #75abcf;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  cursor: pointer;
  color: white;
  padding: 15px;
  width: 100%;
  border: dotted;
  border-color: black;
  text-align: center;
  outline: none;
  font-size: 25px;
}
/* CSS */
.letsstartbutton {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: #111;
  text-shadow: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 50px;
  margin-right: 160px;
}

.letsstartbutton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  color: darkblue;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.letsstartbutton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

  .checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506EEC;
  }

  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #506EEC;
    border-color: #506EEC;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }

  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }

